
.contact-container {
  position: relative;
  min-height: 100vh;
  padding: 6rem 2rem;

  background-image: url("https://res.cloudinary.com/drnsgjgvm/image/upload/v1767820827/gimnasio_yvlbxy.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* overlay */
.contact-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.347); 
  z-index: 1;
}

.contact-title {
  position: relative;
  z-index: 2;

  font-family: var(--font-title);
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-bottom: 4rem;

  color: var(--green-neon);
  text-transform: uppercase;
  text-align: center;
}


.contact-form {
  position: relative;
  z-index: 2;

  background-color: var(--black-soft);
  border: 1.5px solid var(--green-neon);
  border-radius: 18px;

  padding: 3rem 2.5rem;
  width: 50%;
  max-width: 700px;
}

/* input */
.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.8rem;
}

.form-group label {
  font-family: var(--font-title);
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  color: var(--white);
}

.form-group input,
.form-group textarea {
  background-color: transparent;
  border: 1.5px solid var(--gray-medium);
  border-radius: 10px;
  padding: 0.6rem 0.8rem;
  color: var(--white);
  font-family: var(--font-body);
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--green-neon);
  box-shadow: 0 0 0 1px var(--green-neon);
}


@media (max-width: 768px) {
  .contact-title {
    font-size: 2.6rem;
  }

  .contact-form {
    width: 100%;
    padding: 2.5rem 1.5rem;
  }
}
