
.footer {
  background-color: #0f0f0f;   
  color: #fff;               
}

.footer p {
  margin: 0.3rem 0;
  color: #fff;
  font-size: 0.9rem;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
